@font-face {
    font-family: 'Sriracha';
    src: url('/font/Mitr-SemiBold.ttf') format('truetype');
}


body {
    text-align: center !important;
    background-image: linear-gradient(135deg, rgb(83, 163, 243) 0%, rgb(240, 81, 161) 100%);
    font-weight: 700 !important;
    /* font-family: 'Pacifico', cursive !important; */
    font-family: 'Kavoon', cursive !important;

}

/* Bigno Game */

.container .row .my-card_2 {
    width: 600px;
    height: 650px;
    border-radius: 15px;

    /* background-image: linear-gradient(315deg, rgba(128, 191, 255, 1) 0%, rgba(255, 92, 173, 1) 100%); */
}

.container .row .my-card_2 {


    background-image: url('/img/Card-Bingo2.png') !important;
}

#tableBingo {
    display: grid;
    grid-template-rows: 110px 1fr;

    grid-template-columns: 1fr;

}

#tableBingo tbody {

    grid-row: 2 / span 1;
}
.off-Card{
    display: none !important;
}





.container .row .my-card_2 .my-item-number {
    display: flex;
    justify-content: space-between;
}

.my-card_2 .my-item-number .my-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;

    border-radius: 100%;
    text-align: center;
    /* border: 3px solid rgba(128, 191, 255, 1); */
    padding: 0.2rem;
    ;




}

.my-card_2 .my-item-number .my-number p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border-radius: 100%;
    text-align: center;
    background-color: #ffffff;





}

.controll-game {
    width: 650px;
    height: 255px;
    display: grid !important;
    grid-template-columns: [main-1] 1fr [main-2] 1fr [main-3] 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 23px;


    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('/img/Controll-BingoTest.svg') !important;
}




/* rand-main */
.controll-game .rand-main {
    grid-column: main-2 / main-3;
    grid-row: 1;
    display: grid;
    grid-template-columns: [main-1] 1fr [main-2] 1fr [main-3] 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

}

.row .rand-main .my-HranD {
    grid-column: main-2;
    grid-row: 1;

    width: 100px;
    height: 100px;
    color: #ffffff;


    border-radius: 100px;

    line-height: 110px !important;

    font-weight: 900;

    font-size: clamp(1.5rem, 5vw, 3.5rem);
    -webkit-text-stroke: 1px #e42598;
    text-shadow: 3px 1px 1px rgba(25, 136, 247, 1), 2px 2px 1px rgba(247, 25, 136, 1), 4px 2px 1px rgba(25, 136, 247, 1), 3px 3px 1px rgba(247, 25, 136, 1), 5px 3px 1px rgba(25, 136, 247, 1), 4px 4px 1px rgba(247, 25, 136, 1);




}

.controll-game .rand-main .rand-count {
    grid-column: main-1 / main-1;
    grid-row: 1;
    justify-items: center;
    align-items: center;
    background: none;
    border: none;
    display: grid;
    grid-template-columns: [main-1] 1fr [main-2] 1fr [main-3] 1fr;
    grid-template-rows: 1fr 1fr 1fr;






}


.controll-game .rand-main .rand-count #TimeBingo {
    grid-column: main-3 / main-3;
    grid-row: 2/4;
    color: rgb(255, 255, 255);
    margin-top: 0 !important;
    font-size: 1.5rem !important;
    font-weight: 900 !important;
    -webkit-text-stroke: 0.5px #e42598;
    text-shadow: 3px 1px 1px rgba(25, 136, 247, 1), 2px 2px 1px rgba(247, 25, 136, 1), 4px 2px 1px rgba(25, 136, 247, 1), 3px 3px 1px rgba(247, 25, 136, 1);
    cursor: pointer;






}

.row .my-label-D {

    transform: scale(0, 0);
    transition: transform 0.3s ease-in-out;
}



.my-bingo {
    background-color: #6ba6ff !important;
}

.my-bg_num {
    background-image: linear-gradient(315deg, rgba(128, 191, 255, 1) 0%, rgba(255, 92, 173, 1) 100%);


}

/* rand-main */

/* btn-controll */
.controll-game .btn-controll {
    grid-column: main-2 / main-3;
    grid-row: 2;
    display: grid;
    grid-template-columns: [main-1] 1fr [main-2] 1fr [main-3] 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    /* background-color: #6bfff360; */
}

.controll-game .btn-controll .my-btn-rand {
    grid-column: main-2 / main-3;
    grid-row: 1 /2;
    margin: 1px 2px 3px 0 !important;



}

.Spin_icon {
    width: 100%;
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.speedSpin {
    width: 100%;

    animation: rotation 0.3s infinite linear;
}


.controll-game .btn-controll .btn-auto {
    grid-column: main-3 / main-3;
    grid-row: 1 /2;
    width: 100%;
    display: grid;
    grid-template-columns: [main-1] 1fr [main-2] 1fr [main-3] 1fr;






}

.controll-game .btn-controll .btn-auto .my-label-CB {
    grid-column: main-2;







}

.controll-game .btn-controll .btn-turbo {
    grid-column: main-1 / main-1;
    grid-row: 1 /2;

    display: grid;
    grid-template-columns: [main-1] 1fr [main-2] 1fr [main-3] 1fr;







}

.controll-game .btn-controll .btn-turbo .my-label-CB_turbo {
    grid-column: main-2;







}





.row .btn-controll .my-btn-rand {
    width: 72px;
    height: 72px;
    font-size: 40px;
    border-radius: 100%;
    text-align: center;


    /* color: aliceblue; */
    background-color: rgba(153, 153, 153, 0.158);

    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.14);

}

.row .btn-controll .my-btn-rand:hover {
    background-color: rgba(128, 192, 255, 0.692);

}

.my-item-number .my-number .my-img-star {
    width: 50px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
}

#_checkbox {
    display: none;
}

.row .btn-controll .my-label-CB {
    width: 50px;
    height: 50px;
    font-size: 40px;
    border-radius: 100%;
    text-align: center;
    color: aliceblue;
    background-color: rgb(101, 175, 248);
    /* border: 2px solid #bfd0e7; */
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.14);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin: 1px 2px 3px 0;

}

.row .btn-controll .my-label-CB #tick_mark {
    font-size: 10px;
    text-align: center;


}




#_checkbox:checked+label {
    background-color: rgb(255, 255, 255);

}

#_checkbox_turbo {
    display: none;
}

.row .btn-controll .btn-turbo .my-label-CB_turbo {
    width: 47px;
    height: 47px;
    font-size: 40px;
    border-radius: 100%;
    text-align: center;
    color: aliceblue;
    background-color: rgb(101, 175, 248);

    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.14);
    border-radius: 50%;

    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin: 0 2px 2px 0 !important;


}

.row .btn-controll .btn-turbo .my-label-CB_turbo #tick_mark_turbo {

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    align-items: center;
    display: inline;



}




#_checkbox_turbo:checked+label {
    display: block;
    background-color: rgba(255, 255, 255, 0);

}





/* btn-controll */

/* Bigno Game */
/*  MenuBar  */
header {
    font-family: 'Sriracha', cursive !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 1000;
    background-image: linear-gradient(315deg, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 100%);
}

header.sticky {
    transition: 0.6s;
    box-shadow: 2px 2px 8px 6px rgba(0, 0, 0, 0.18);
}

header.sticky .logo,
header.sticky ul li a {

    transition: 0.6s;


}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;

}

header .logo img {
    width: 11rem;

}

header ul {
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
}

header ul li {
    position: relative;
    list-style: none;

}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

.banner {
    position: relative;
    width: 100%;
    height: 88px;

}


.addcount {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    bottom: 0;
    width: 600px;
    height: 300px;
    background-image: linear-gradient(315deg, rgb(111, 183, 255) 0%, rgb(255, 126, 191) 100%);
    border-radius: 15px 15px 0 0;
    transition: bottom 0.5s;
    border: 5px solid #ffffff;
    box-shadow: 2px 2px 10px 8px rgba(0, 0, 0, 0.356);
    display: grid;
    grid-template-columns: [main-1] 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.addcount .add-countH {


    grid-column: main-1 / main-1;
    grid-row: 1;
    display: grid;
    align-items: center;
    border-bottom: 2px solid #ffffff;

}

.addcount .add-countB {
    grid-column: main-1;
    grid-row: 2 /5;
    display: grid;

    grid-template-columns: [main-1] 1fr [main-2] 1fr [main-3] 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;


}

.addcount .add-countB .increment {
    grid-column: main-2;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
    display: grid;
    background: none;
    border: none;
    color: #fff;






}

.addcount .add-countB .increment img {
    width: 30px;


}





.addcount .add-countB .decrement {
    grid-column: main-2;
    grid-row: 4 /6;
    justify-content: center;
    display: grid;
    background: none;
    align-items: center;

    border: none;
    color: #fff;




}

.addcount .add-countB .decrement img {
    width: 30px;





}


.addcount .add-countB input {
    grid-column: main-2;
    grid-row: 3;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    text-align: center;







}

.addcount .add-countB span {
    grid-column: main-2;
    grid-row: 3;
    display: grid;
    text-align: left;
    align-items: center;
    margin-left: 15px;
    z-index: 1;





}



.addcount .add-countF {
    grid-column: main-1;
    grid-row: 5;
    display: grid;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #ffffff;

}

.addcount .add-countF button {

    margin-top: 0 !important;
    font-size: 1.3rem !important;
    font-weight: 400 !important;
    color: rgb(48, 34, 34);
    border-radius: 0.5rem;
    border: none;
    /* background-color: #e42598; */
    border: 2px solid #ffffff;

    background-image: linear-gradient(180deg, rgb(253, 96, 174) 0%, rgb(69, 162, 255) 100%);





}

.addcount .add-countF button:active {
    background-image: linear-gradient(180deg, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 100%) !important;



}

.addcount .add-countF button:hover {
    background-image: linear-gradient(180deg, rgba(69, 162, 255, 0.479) 0%, rgba(253, 96, 174, 0.493) 100%);


}

.addcount .clearAppC {
    position: absolute;

    top: 10px;
    right: 10px;
}

.addcount .clearAppC img {
    width: 28px;
    cursor: pointer;

}

/*  MenuBar  */

/* index Page  */

.my-btn-bayCard {

    background-image: linear-gradient(315deg, rgb(69, 162, 255) 0%, rgb(253, 96, 174) 100%);
    margin-top: 0 !important;
    font-size: 1.5rem !important;
    font-weight: 900 !important;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    box-shadow: 3px 1px 1px rgba(25, 136, 247, 1), 2px 2px 1px rgba(247, 25, 136, 1), 4px 2px 1px rgba(25, 136, 247, 1),
        3px 3px 1px rgba(247, 25, 136, 1), 5px 3px 1px rgba(25, 136, 247, 1), 4px 4px 1px rgba(247, 25, 136, 1),
        6px 4px 1px rgba(25, 136, 247, 1), 5px 5px 1px rgba(247, 25, 136, 1), 7px 5px 1px rgba(25, 136, 247, 1),
        6px 6px 1px rgba(247, 25, 136, 1), 8px 6px 1px rgba(25, 136, 247, 1), 3px 7px 7px 1px rgba(0, 0, 0, 0.685);
    border: 3px solid #e42598;
    -webkit-text-stroke: 1px #e42598 !important;


}

.my-btn-bayCard:active {
    box-shadow: inset 3px 1px 1px rgba(25, 136, 247, 1), inset 2px 2px 1px rgba(247, 25, 136, 1), inset 4px 2px 1px rgba(25, 136, 247, 1),
        inset 3px 3px 1px rgba(247, 25, 136, 1), inset 5px 3px 1px rgba(25, 136, 247, 1), inset 4px 4px 1px rgba(247, 25, 136, 1),
        inset 6px 4px 1px rgba(25, 136, 247, 1);
    transform: scale(0.9);
    border: none;
}

.my-btn-bayCard:hover {
    background-image: linear-gradient(315deg, rgb(253, 96, 174) 0%, rgb(69, 162, 255) 100%);
    box-shadow: 3px 1px 1px rgba(247, 25, 136, 1), 2px 2px 1px rgba(25, 136, 247, 1), 4px 2px 1px rgba(247, 25, 136, 1),
        3px 3px 1px rgba(25, 136, 247, 1), 5px 3px 1px rgba(247, 25, 136, 1), 4px 4px 1px rgba(25, 136, 247, 1),
        6px 4px 1px rgba(247, 25, 136, 1), 5px 5px 1px rgba(25, 136, 247, 1), 7px 5px 1px rgba(247, 25, 136, 1),
        6px 6px 1px rgba(25, 136, 247, 1), 8px 6px 1px rgba(247, 25, 136, 1), 3px 7px 7px 1px rgba(0, 0, 0, 0.685);
    border: 3px solid #e42598;

}

.price-card {
    color: rgb(255, 255, 255);
    margin-top: 0 !important;
    font-size: 1.5rem !important;
    font-weight: 900 !important;
    -webkit-text-stroke: 0.5px #e42598;
    text-shadow: 3px 1px 1px rgba(25, 136, 247, 1), 2px 2px 1px rgba(247, 25, 136, 1), 4px 2px 1px rgba(25, 136, 247, 1), 3px 3px 1px rgba(247, 25, 136, 1);



}

.modal-content {
    background-image: linear-gradient(315deg, rgb(69, 162, 255) 0%, rgb(253, 96, 174) 100%) !important;

}

.btn-submit-card {
    color: rgb(255, 255, 255) !important;


    background-color: rgba(247, 25, 136, 1) !important;
    border: 3px solid rgb(254, 255, 255) !important;


}

.btn-submit-card:hover {
    color: rgb(255, 255, 255) !important;


    background-color: rgba(25, 136, 247, 1) !important;
    border: 3px solid #000000 !important;
}


.modal-body .swiper-button-prev-2 {
    position: absolute;
    background: none;
    border: none;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
   
    

   
   
}
.modal-body .swiper-button-next-2 {
    position: absolute;
    background: none;
    border: none;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
   
    

   
   
}
.modal-body .swiper-button-next-2 img {
    width: 3rem;
   
    

   
   
}
.modal-body .swiper-button-prev-2 img {
    width: 3rem;
   
    

   
   
}

/* index Page  */